<!DOCTYPE html>
<html ng-app="cappuccinoWebClient">

<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="/static/style-upload-form.css" rel="stylesheet" />

	<title>Cappuccino</title>
</head>

<body ng-controller="controller">
	<!-- HTML for Command BAR -->
	<div id="tfheader">
		<div id="logo">Cappuccino</div>
		<div id="right">
			<div id="tfnewsearch">
				<input ng-model="command" type="text" class="tftextinput" name="q" size="21" maxlength="120">
				<input ng-click="sendBarCommandRequest()" type="submit" value="exec" class="tfbutton">
			</div>
		</div>
	</div>

	<form ng-show="showUploadForm" id="upload" method="post" action="" enctype="multipart/form-data">
		<div id="drop">
			Drop Here

			<a>Browse</a>
			<input type="file" name="upl" multiple />
		</div>

		<ul>
			<!-- The file uploads will be shown here -->
		</ul>
	</form>

	<p>COMANDO : {{ command }}</p>
	<p>CURRENT DIR : {{ currentDir }}</p>

	<div id="filemanager">
		<table>
			<!-- Table headers -->
			<tr id="table_headers">
				<th>Filename</th>
				<th>Size</th>
				<th>Last Modified</th>
				<th>Type</th>
			</tr>

			<!-- Showing files -->
			<tr ng-repeat="file in files" class="file-entry" ng-class="{hover: hoverpar}" ng-mouseenter="hoverpar = true" ng-mouseleave="hoverpar = false" ng-click="lsCommandRequestOnClick($event)">
				<td>{{ file.name }}</td>
				<td>{{ file.size }}</td>
				<td>{{ file.last_modified }}</td>
				<td>{{ file.type }}</td>
			</tr>
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!-- <script src="/static/restapi.js"></script> -->
	<script src="/static/commands.js"></script>
	<script src="/static/controller.js"></script>

	<!-- JavaScript Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/jquery.knob.js"></script>

	<!-- jQuery File Upload Dependencies -->
	<script src="/static/jquery.ui.widget.js"></script>
	<script src="/static/jquery.iframe-transport.js"></script>
	<script src="/static/jquery.fileupload.js"></script>

	<!-- Our main JS file -->
	<script src="/static/script.js"></script>
</body>

</html>